<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="css/freelancer.min.css" rel="stylesheet">
    <script src="script.js"></script> 
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link href="css/freelancer.min.css" rel="stylesheet">
    <!-- //<script src="script.js"></script>  -->

    

    <title>The student activity app </title>

      
    </head>

    <body>
          <!-- Navigation -->
          <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Student Area</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>  
   
       
        
  <div id="app">
  
        <form id="courses1">
            <h2>Create New Topic</h2>
            Topic Name:     <input type="text" v-model="inputTopic"   id="inputTopic" name="inputTopic" autofocus>
            Topic Location: <input type="text" v-model="inputLocation" id="inputLocation" name="inputLocation">
            Topic Price €:    <input type="text" v-model="inputPrice" id="inputPrice" name="inputPrice">
            Topic Time:     <input type="text" v-model="inputTime" id="inputTime" name="inputTime">
            Topic Length (Hours):   <input type="text" v-model="inputLength" id="inputLength" name="inputLength">
          
            <button type="submit" @click="saveTopic" class="btn btn-success">Save</button>
          
        </form>
        <br/>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Search By Topic:</span>
            </div>
            <input type="text" v-model="search" placeholder="Enter Keyword">
          </div>

        <div id="filter">
            <h2>Filter By Price</h2>
            <select  v-model='selectedPrice' size ="5" style="width:200px">
              <option v-for='course in myObject'>
                {{course.price}}
              </option>
            </select>
            <p>Selected Price: {{selectedPrice}}</p>

        </div>

              <div id="courses">
                  <ul v-for="course in filteredList" class="course">
                      <br/>
                      <li>Topic:    {{course.topic}} </li>
                      <li>Location: {{course.location}}</li>
                      <li>Price €:  {{course.price}}</li>
                      <li>Time:     {{course.time}}</li>
                      <li>Duration (Hours): {{course.length}}</li> 
                      <button type="button" class="btn btn-success">Apply for {{course.topic}}</button>
                                  
                      <br/>

                      <h4>Rate Course</h4>
                      
                      Rating  <input type="radio" name="rating" value="1">1
                              <input type="radio" name="rating" value="2">2
                              <input type="radio" name="rating" value="3">3
                              <input type="radio" name="rating" value="4">4
                              <input type="radio" name="rating" value="5">5 
                  </ul>
                  <br/> 
              </div> 
        </div>


        <!-- Footer -->
        <footer class="footer text-center height:30% ">
            <div class="container">
              <div class="row">
        
                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Location</h4>
                  <p class="lead mb-0">2215 John Daniel Drive
                    <br>Clark, MO 65243</p>
                </div>
        
                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Around the Web</h4>
                  <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                  </a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                  </a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                  </a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-dribbble"></i>
                  </a>
                </div>
        
                
        
              </div>
            </div>
          </footer>

          <script>
      

              var data = new Vue({
                      el: '#app',
                      data: 
                      {
                        inputTopic:'',
                        inputLocation:'',
                        inputPrice:'',
                        inputTime:'',
                        inputLength:'',
                        selectedTopic:'',
                        selectedPrice:'',
                        search:'',
                        myObject: JSON.parse(localStorage.getItem("SavedTopics")),
                        
                                        
                      },
        
                      methods:
                      
                       
                      ({
                        saveTopic: function(inputTopic,inputLocation,inputPrice,inputTime,inputLength)
                        {
                          //Create object to store the variables
                          var  myObj = 
                          {
                              //Mapping the fields in the object to the data being obtained through the parameters
                              'topic':    this.inputTopic,
                             'location': this.inputLocation,
                              'price':    this.inputPrice,
                              'time':     this.inputTime,
                              'length':   this.inputLength
                          };
        
                          
                          //Get the data saved in the local storage and save it inside a variable
                          var dataBefore = GetDataFromStorage('SavedTopics');
        
                          //Creating an empty array
                          var jsonArray = []; 
        
                          //If there is no data kept in local storage, push the data to the array
                          if (dataBefore === null)
                          {		
                              //Pushing the data into the array
                              jsonArray.push(myObj);			
                              //Saving the data from the array into local storage
                              InsertIntoLocalStorage('SavedTopics',jsonArray);                                                        
                          }	
                          
                          else //if not null (already has data in the local storage)
                          {	
                              dataBefore.push(myObj);
                              InsertIntoLocalStorage('SavedTopics', dataBefore);                 
                          }
                          
                        },
                            
                        //   remove: function(id)
                        //   {
                        //        // this.myObject.pop(id,1);
                        //  this.$delete(this.myObject, 1);
                          //window.localStorage.removeItem(SavedTopics);
        
                          // localStorage.removeItem(id);
                          // this.$delete(localStorage.removeItem(this.myObject, id));
                          //console.log("Item with " + id + " has been deleted");
                          
                       // },
                           
                      
                      }),
                    
                  
                      computed: 
                      
                      {
                          filteredList()
                          {
                            return this.myObject.filter(course=>
                            {
                              return course.topic.toLowerCase().includes(this.search.toLowerCase())
                            })
                          
                             filterMembers()
                             {
                               let filtered = this.myObject;
        
                               if(this.search)
                               {
                                 filtered = this.myObject.filter(
                                   m => m.inputPrice.toLowerCase().indexOf(this.search) > -1
                                 );
                               }
                               if(this.selectedPrice)
                               {
                                 filtered = filtered.filter(
                                 m => m.inputPrice.toLowerCase() === this.selectedPrice.toLowerCase()
                                 );
                               }
                             }
        
                            return filtered;
                         }
                      }
                    });
                
                  
                    function InsertIntoLocalStorage(key,value)
                    {
                        //The stringify function will convert the data being saved to a string
                        localStorage.setItem(key, JSON.stringify(value));
                    }
        
                    function GetDataFromStorage(data)
                    {
                        var parsedValue = JSON.parse(localStorage.getItem(data)); 
                        return parsedValue;                                       
                    }
        
                    function removeFromLocalStorage(data)
                     {
                     //remove: function(index)
                                // console.log(index);
                                localStorage.removeItem(data);
                     }
                    
              </script>
        
    </body>

    <style>
          footer {
                  position: fluid;
                  bottom: 0;
                  width: 100%;
                  }

      </style>
</html>
